<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top" id="navibar" style="background: linear-gradient(to right, #bdc3c7, #2c3e50);">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/main">News Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="./adminPanel">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/nytimes">NY Times</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/quizPass">Quiz</a>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container rounded cover little-box mt-5">
        <h1 class="text-center mb-4">Admin Panel</h1>
        <form action="/admin/add" method="post" class="mb-4">
            <label for="username" class="form-label">Username:</label><br>
            <input type="text" id="username" class="form-control" name="username" required><br>
            <label for="email" class="form-label">Email:</label><br>
            <input type="email" id="email" class="form-control" name="email" required><br>
            <label for="password" class="form-label">Password:</label><br>
            <input type="password" id="password" class="form-control" name="password" required><br><br>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
        <hr>
        <h3 class="text-center mb-4">User List</h3>
        <div class="row">
            <% users.forEach(user => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Username: <%= user.username %></h5>
                            <p class="card-text">Admin Status: <%= user.adminStatus%> </p>
                            <p class="card-text">Email: <%= user.email%> </p>
                            <p class="card-text">Registered Since: <%= user.creationDate %> </p>
                            <a class="btn btn-warning mb-1 mr-1" href="/admin/edit/<%= user._id %>">Edit</a>
                            <a class="btn btn-danger mb-1" href="/admin/delete/<%= user._id %>">Delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
